.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-container {
  height: 100%;
}

/* Attributes section */
.attributes-div-margin {
  margin-top: 2em;
  margin-left: 2em;
}

.attributes-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.checkbox-title-margin {
  margin-bottom: 10px;
}

.category-checkbox-title-div {
  margin-left: -3px;
}

.cuisine-checkbox-title-div {
  margin-left: 1px;
}

.cuisine-checkbox-div {
  margin-right: 0;
  width: 33%;
}

/* Attributes section ends*/

/* Slider filters */
.slider-margin {
  margin-top: 2em;
}

.input-range__label {
  color: #565B5D;
}

.input-range__label--value {
  display: none;
}

.input-range__slider {
  margin-top: -14px;
  background-color: #F1F1F1;
  border-color: #50BEBF;
}

.input-range__track--background {
  height: 12px;
}

.input-range__track--active {
  background: #50BEBF;
  height: 12px;
}
/* Slider filters end */

.search-results-div {
  margin-top: 3em;
  background-color: #F1F1F1;
  height: 100%;
  position: relative;
}

/* Restaurants list */
.restaurants-list-div {
  overflow-y: auto;
  max-height: 500px;
  padding-left: 0px;
}

.restaurants-div-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding-left: 4.3em !important;
}

.restaurants-list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  border: 0px;
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #E5E5E5;
  padding-left: 3.8em;
}

.restaurants-list-group-item-action {
  color: black;
  font-weight: 400;
}

.restaurants-list-group-item-action:hover {
  text-decoration: none;
  color: white;
  background-color: #50BEBF;
}

.restaurants-list-group-item.active {
  color: white;
  background-color: #50BEBF !important;
}
/* Resaurant list ends */

/* Resaurant details */
.restaurant-detail-div {
  margin-top: 3em;
  margin-left: -4em;
  margin-bottom: 3em;
}

.restaurant-feature-image {
  width: 100%;
  height: 100%;
}

.restaurant-name-div {
  font-size: 32px;
  font-weight: 700;
}

.restaurant-address-div {
  font-size: 14px;
  font-weight: 400;
  color: #74787A;
}

.restaurant-booking-div-margin {
  margin-top: 1.5em;
}

.restaurant-booking-div {
  font-size: 14px;
  color: #4E5456;
}

.restaurant-delivery-div {
  font-size: 14px;
  color: #4E5456;
}

.check-icon {
  font-size: 14px;
  font-weight: 100;
  color: green;
  margin-right: 5px;
}

.cross-icon {
  font-size: 14px;
  font-weight: 100;
  color: red;
  margin-right: 5px;
}

.restaurant-cuisine-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.restaurant-cuisin-div-margin {
  margin-top: 1.5em;
}

.restaurant-cuisine-text {
  font-size: 20px;
  font-weight: 600;
  color: #4E5456;
}

.restaurant-phone-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.restaurant-phone-div-margin {
  margin-top: 1.5em;
}

.restaurant-phone-text {
  font-size: 20px;
  font-weight: 600;
  color: #4E5456;
}
/* Resaurant details end */

/* Check box group CSS */
.abc-checkbox-info input[type="checkbox"]:checked + label::before, .abc-checkbox-info input[type="radio"]:checked + label::before {
  background-color: #50BEBF;
  border-color: #50BEBF;
}

/* Mobile CSS */
@media only screen and (min-width: 578px) and (max-width: 768px) {
  .cuisine-div {
    margin-top: 1em;
  }

  .slider-div {
    margin-top: 1em;
    margin-left: 1em;
  }

  .details-div {
    margin-left: 5.8em;
    margin-top: 2.4em;
  }

  .attributes-div-margin {
    margin-top: 1em;
    margin-left: 0em;
  }
}

/* Mobile CSS */
@media only screen and (max-width: 575px) {
  .cuisine-div {
    margin-top: 1em;
  }

  .cuisine-checkbox-title-div {
    margin-left: 0px;
  }

  .slider-div {
    margin-top: 1em;
    margin-left: 1.1em;
    max-width: 80%;
  }

  .details-div {
    margin-left: 5.8em;
    margin-top: 2.4em;
  }

  .attributes-div-margin {
    margin-top: 1em;
    margin-left: .5em;
  }
}